<div class="row"></div>
<div class="row" style="width: 100%">
    {% for product in pagination %}
        <div class="col l4 m6 s12">
            <a href="/product/{{ product.id }}">
                <div class="card medium">
                    <div class="card-image">
                        <img class="responsive-img" src="{{ asset('images/product_default.jpg') }}">
                        <span class="card-title black-text">{{ product.name }}</span>
                    </div>
                    <div class="card-content center-align">
                        <form id="product{{ product.id }}_rating">
                            <div id="show_stars" class="stars">
                                <input  type="radio" name="star" class="star-1" id="star-1" {% if product.getRating is same as(1) %}checked{% else %}disabled{% endif %}/>
                                <label class="star-1" for="star-1">1</label>
                                <input type="radio" name="star" class="star-2" id="star-2" {% if product.getRating is same as(2) %}checked{% else %}disabled{% endif %}/>
                                <label class="star-2" for="star-2">2</label>
                                <input type="radio" name="star" class="star-3" id="star-3" {% if product.getRating is same as(3) %}checked{% else %}disabled{% endif %}/>
                                <label class="star-3" for="star-3">3</label>
                                <input type="radio" name="star" class="star-4" id="star-4" {% if product.getRating is same as(4) %}checked{% else %}disabled{% endif %}/>
                                <label class="star-4" for="star-4">4</label>
                                <input type="radio" name="star" class="star-5" id="star-5" {% if product.getRating is same as(5) %}checked{% else %}disabled{% endif %}/>
                                <label class="star-5" for="star-5">5</label>
                                <span></span>
                            </div>
                        </form>
                    </div>
                    <div class="card-action">
                        <div class="row">
                            <div class="col s5">
                                <div class="row">
                                    <div class="col s1">
                                        <i class="material-icons">comment</i>
                                    </div>
                                    <div class="col s1" style="margin-left: 5px">
                                        {{ product.getCommentsCount() }}
                                    </div>
                                </div>
                            </div>
                            <div class="col s7">
                                <div class="row">
                                    <div class="col s2">
                                        <i class="material-icons">date_range</i>
                                    </div>
                                    <div class="col s10">
                                        {{ product.createdDate|date('d-m-Y H:i:s') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col s12 center-align">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>